#classrooms_jump_to_department.col-xs-offset-3.col-xs-10
  %h3
    Schools and Colleges
  %ul.col-xs-4
    %li
      = link_to 'Academic Affairs', classrooms_path(q: {DEPT_GRP_eq: 'ACAD_&_BDGT_AFFAIRS'})

    %li
      = link_to 'College of LSA', classrooms_path(q: {DEPT_GRP_eq: 'COLLEGE_OF_LSA'})
    %li
      = link_to 'College of Pharmacy', classrooms_path(q: {DEPT_GRP_eq: 'COLLEGE_PHARMACY'})
    %li
      = link_to 'Ford School of Public Policy', classrooms_path(q: {DEPT_GRP_eq: 'SCHOOL_PUB_POLICY'})
  %ul.col-xs-4
    %li
      = link_to 'Law School', classrooms_path(q: {DEPT_GRP_eq: 'LAW_SCHOOL'})
    %li
      = link_to 'Museum of Art', classrooms_path(q: {DEPT_GRP_eq: 'VP_ACAD_GRAD_STUDY'})
    %li
      = link_to 'School of Dentistry', classrooms_path(q: {DEPT_GRP_eq: 'SCHOOL_DENTISTRY'})
    -# %li
    -#   = link_to 'School of Education', classrooms_path(q: {DEPT_GRP_eq: 'SCHOOL_EDUCATION'})
  %ul.col-xs-4
    %li
      = link_to 'School of Information', classrooms_path(q: {DEPT_GRP_eq: 'SCHOOL_INFORMATION'})
    %li
      = link_to 'School for Environment and Sustainability', classrooms_path(q: {DEPT_GRP_eq: 'SCHOOL_NAT_RES_ENVIR'})
    %li
      = link_to 'School of Social Work', classrooms_path(q: {DEPT_GRP_eq: 'SCHOOL_SOCIAL_WORK'})