%h3 Instructional Support Services - Our Mission
#about_iss
  %p
    The mission of LSA Instructional Support Services (ISS) is to provide excellent learning environments for LSA faculty and students and to facilitate exceptional instructional opportunities enhancing creativity, inquiry, and discovery, which make the University of Michigan College of Literature, Science and the Arts extraordinary.  In order to accomplish this, LSA ISS staff members strive to:

  %ul
    %li
      Create and maintain the best possible teaching and learning facilities within appropriate budgetary constraints
    %li
      Provide relevant and necessary equipment that works well and is easy to use
    %li
      Lead and manage innovative and effective instructional technology projects
    %li
      Inspire and support faculty as they explore teaching tools and learning environments
    %li
      Guide faculty and students as they integrate new technologies, methods, and content into their teaching and learning
    %li
      Provide effective and productive training opportunities
    %li
      Implement and scale new initiatives across LSA
    %li
      Provide exceptional customer support in a professional, courteous, and timely fashion.

  %p
    Visit the
    = link_to 'Instructional Support Services home page', "http://www.lsa.umich.edu/iss/", :class => "button", :target => "_blank"
    for more information.

    #main_features

      %ul
        %li
          = link_to 'ISS Home', "http://www.lsa.umich.edu/iss/", :class => "button", :target => "_blank"
        %li
          = link_to 'Classrooms', classrooms_url, :class => "button"
        %li
          = link_to "Equipment Loan", "https://lsa.umich.edu/technology-services/instructional-support-services.html", :class => "button", :target => "_blank"
        %li
          -# = link_to 'Classroom Support', iss_support_path, :class => "button"
          = link_to "Classroom Support", "https://lsa.umich.edu/technology-services/help.html", :class => "button", :target => "_blank"
