%h3
  ISS Classroom & Instructional Support: aka Operations

%p
  ISS Operations provides audio-visual equipment and services for all classes and events held in LSA classrooms.  In addition, we also provide support for special events on and off campus for the University of Michigan community.  If you have any questions concerning AV support for your class or event, please telephone (734) 615-0100 or email us at 
  = link_to "lsa-iss-reservations@umich.edu.", "mailto:lsa-iss-reservations@umich.edu"

%p
  For an overview of the many services provided by ISS Operations, please follow these links:
%ul 
  %li
    = link_to "Audio-Visual Support", "http://www.lsa.umich.edu/iss/services/avservices", :target => "_blank"
  %li
    = link_to "Support for Special Events, Conferences and Student Group Activities", "http://www.lsa.umich.edu/iss/services/specialevents", :target => "_blank"
  %li
    = link_to "Equipment Loan", "http://www.lsa.umich.edu/iss/services/equipmentloan", :target => "_blank"
  %li
    =link_to "Computing & Software", "http://www.lsa.umich.edu/iss/aboutus/issit", :target => "_blank"
  %li
    = link_to "Training & Workshops", "http://www.lsa.umich.edu/iss/services/trainingsandworkshops", :target => "_blank"