!!!
%html{:lang => "en-US"}
  %head

    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= page_title
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"

    = javascript_include_tag "application", "data-turbolinks-track" => true
    -#= javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"
    %script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDanqx5Jg7UKmeh9tTVeV6ovANhFhxOFhk&callback=initMap", :type => "text/javascript"}

    -# = javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"

    = csrf_meta_tags


    = yield(:head)
  %body

    .container.col-md-12.col-lg-12.col-sm-12

      = render 'layouts/header'

      .content#content
        = render 'layouts/messages'
        = yield

      = render 'layouts/footer'
      = render 'layouts/ga'

:javascript
  $('.dropdown-toggle').dropdown()
